/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Layout Styles */
h1 {
    font-size: 20px;
    margin: 15px 0 0 5px;
    
}

h2 {
    font-family: 'Mate SC', serif;
    margin: 3px 5px 10px 0;
}

h3, ol {
    font-family: 'Mate SC', serif;
}

main {
    margin: 0 10px;
}

section {
    margin-top: 10px;
    border-bottom: solid 1px #C6C7C6;   
}

/* Class Selectors */
.main-grid {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header",
        "navi"
        "main";
}

.header-grid {
    display: grid;
    height: 10vh;
    grid-template-columns: 1.5fr 1fr 2fr;
    background-color: #B5F792;
    border-bottom: darkgreen solid 1px;
    

}
.bell {
    margin: 18px -18px 0 0;
    height: 20px;
    width: 22px;
}

.nav-grid {
    grid-area: 'navi';
    display: grid;
    text-align: center;
    padding: 0 30px;
    height: 7vh;
    background-color: #57F900;
    background: linear-gradient(to bottom, #B5F792, #57F900);
    grid-template-columns: repeat(4, 1fr);
} 

.nav-icon {
    margin: 9px 0;
    height: 25px;
    width: 25px;
}

.notifications {
    text-align: center;
}

.divider {
    font-size: 40px;
    opacity: .4;
    margin: 3px 15px 0 0;
    color: darkgreen;
}

.profile {
    display: flex;
    text-align: center;
    margin: auto;

}
.profile-pic {
    margin: 7px 5px 0 2px;
    border-radius: 50%;
    height: 6vh;
}

.student-name {
    font-size: 12px;
    overflow: none;
    margin: 17px 5px 0 7px;
}

.main-heading {
    display: flex;
    margin: 0 0 5em 0;
}


.main-heading input {
    justify-content: flex-end;
    flex: 1;
    width: 100%;
    margin: 0 0 0 12px; 
    height: 2.8rem;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 5px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

ul li {
    margin: 5px 0;
    font-size: 1.1em;
}

.social-container {
    display: flex;
    border: #989898 1px solid;
    border-radius: 5px;
    background-color: #E6E6E6;
    margin: 15px 0;
    height: 15vh;
    align-items: center;
}

.social-image {
    flex-direction: row;
    margin: 0 15px;
    height: 55px;
    width: 55px;
}
    
.social-text {
    font-size: 1.5em;
}

svg {
    fill: #57F900;
}

.members-container {
    border-bottom: solid 1px #C6C7C6;
    padding: 15px 0;
    text-align: center;
}

.profile-image {
    margin: 7px 5px 0 2px;
    border-radius: 50%;
    height: 12vh;
}
.form-field {
    height: 3em;
}

.form-area {
    height: 8em;
}
.form-field, .form-area {
    width: 100%;
    margin-top: 1em;
    border: #989898 1px solid;
    border-radius: 5px;
    background-color: #E6E6E6;
}

.button-primary {
    width: 100%;
    height: 8vh;
    margin: 15px 0;
    background-color: #57F900;
    color: black;
    border-radius: 7px;
}

.settings-button {
    display: flex;
    flex-wrap: nowrap;
}
.button-disabled {
    width: 100%;
    height: 8vh;
    margin: 15px 0;
    margin-left: 10px;
    background-color: #C6C7C6;
    color: black;
    border-radius: 7px;
}

select {
    padding-left: 5px;
    font-family: copperplate;
}

input::placeholder {
    padding-left: 5px;
    font-family: copperplate;
}

textarea::placeholder {
    padding: 10px 5px;
    font-family: copperplate;
}