/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Class Selectors */
.main-grid {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header",
        "nav"
        "main";
}

.header-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.bell {
    margin: 20px auto;
    height: 30px;
    width: 25px;
}

.profile {
    display: flex;
}