/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Layout Styles */
body {
    font-family: 'Mate SC', serif;
}

.main-grid {
    display: grid;
}

main {
    grid-area: main;
    padding: 0 15px;
}

section {
    margin-top: 10px;
    border-bottom: solid 1px #C6C7C6;   
}

h1 {
    font-size: 20px;
    margin: 15px 0 0 5px;
    
}

h2 {
    margin: 3px 5px 10px 0;
}

h3 {
    margin: 15px 0 0 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

ul li {
    margin: 5px 0;
    font-size: 1.1em;
}

svg {
    fill: #57F900;
}

input::placeholder {
    padding-left: 10px;
    font-family: copperplate;
}

textarea::placeholder {
    padding: 10px 10px;
    font-family: copperplate;
}

.toggle1, .toggle2 {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.switch-light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.toggle-switch {
    width: 40%;
}
.toggle2 .toggle-switch {
    margin-left: 35px;
}

/* Class Selectors */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    height: 55px;
    background-color: #B5F792;
}

.dashboard-container {
    display: block;
}

.dashboard-box {
    width: 100%;
    height: 60px;
    border: #C6C7C6 solid 3px;
    border-top: none;
    border-right: none;
    margin-top: -10px;
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    grid-area: navigation;
    padding: 0 30px;
    height: 45px;
    background-color: #57F900;
} 

.nav-icon {
    margin: 9px 0;
    height: 25px;
    width: 25px;
}

.notifications {
    display: flex;
    flex-direction: row;
}

.dropdown {
    position: relative;
    display: block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: papayawhip;
    flex-direction: column;
}

.dropdown-content a {
    border: black 2px solid;
    margin: 1px 0;
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.bell {
    margin: 0 5px 0 0;
    height: 20px;
    width: 22px;
}

svg.bell-icon {
    stroke: black;
    fill: darkgreen;
}

.badge {
    position: relative;
    font-size: 10px;
    top: 0;
    right: -15px;
    padding: 0.025rem 0.25rem;
    border-radius: 50%;
    background: red;
    color: white;
}

canvas {
    max-height: 350px;
}

.bell:hover {
    fill: black;
    transition: ease-in 0.5s;
    transform: rotate(360deg);
}

.divider {
    font-size: 42px;
    opacity: .4;
    margin: 0 3px 10px 0;
    color: darkgreen;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-pic {
    margin: 10px 5px 0 5px;
    border-radius: 50%;
    height: 6vh;
}

.student-name {
    font-size: 12px;
    overflow: none;
    margin: 22px 5px 0 7px;
}


.main-heading {
    display: flex;
    margin: 10px -15px 20px 0;
}

.social-container {
    display: flex;
    border: #989898 1px solid;
    border-radius: 5px;
    background-color: #E6E6E6;
    margin: 15px 0;
    height: 15vh;
    align-items: center;
}

.social-image {
    flex-direction: row;
    margin: 4px 13px 0 13px;
    height: 45px;
    width: 45px;
}
   
.social-image-backgnd {
    margin: 0 5px;
    padding: 12px 3px;
    background: black;
    border-radius: 50%;
}

.social-text {
    font-size: 1.5em;
}

.members-container {
    border-bottom: solid 1px #C6C7C6;
    padding: 15px 0;
    text-align: center;
}

.members-container:last-child {
    border-bottom: none;
}

.link-recent {
    display: none;
}

.profile-image {
    margin: 7px 5px 0 2px;
    border-radius: 50%;
    height: 12vh;
}
.form-field {
    height: 3em;
}

.form-area {
    height: 8em;
}

.form-field, .form-area {
    width: 100%;
    margin-top: 1em;
    border: #989898 1px solid;
    border-radius: 5px;
    background-color: #E6E6E6;
}

.awesomplete {
    display: block;
}
.button-primary {
    width: 100%;
    height: 8vh;
    margin: 15px 0;
    background-color: #57F900;
    color: black;
    border-radius: 7px;
}

.settings-button {
    display: flex;
    flex-wrap: nowrap;
}
.button-disabled {
    width: 100%;
    height: 8vh;
    margin: 15px 0;
    margin-left: 10px;
    background-color: #C6C7C6;
    color: black;
    border-radius: 7px;
}

select {
    padding-left: 5px;
    font-family: copperplate;
}

#alert {
    background-color: #57F900;
    border-radius: 5px;
    height: 35px;
    width: 98%;
}

.alert-banner {
    display: flex;
    font-size: 12px;
    margin: 0 0 0 8px;
}

.alert-text {
    margin-top: 10px;
}

.alert-banner-close {
    margin-left: auto;
    padding-right: 3px;
}

.widget-container-full, .widget-container-half, .mobile-chart{
    margin: 0 0 15px 0;
    padding: 20px 5px;
    width: 90vw;
}

.traffic-heading {
    display: flex;
}

.traffic-nav {
    margin-left: auto;
    padding: 10px 20px 0 0;
    text-align: center;
}
.traffic-nav li {
    font-size: 12px;
    width: 70px;
    padding: 15px 10px;
    align-items: center;
}   
.active {
    background-color: #57F900;
    color: purple;
    text-shadow: white 1px 1px;
    margin-top: 5px;
    width: 65px;
    border-radius: 45px;
}

.widget-container {
    position: relative;
}

/* Media Queries */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "navigation main";
    }
    header {
        height: auto;
    }

    .navigation {
        justify-content: flex-start;
        height: auto;
        padding: 10px 15px;
        background: linear-gradient(to top, #B5F792, #57F900);
        flex-direction: column;
    }
    section.traffic {
        border-bottom: none;
    }

    .nav-icon {
        margin: 15px 0;
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic-heading {
        display: flex;
    }

    .main-heading, 
    .alert, 
    .traffic, 
    .social-stats, 
    .members, 
    .message, 
    .recent, 
    .settings {
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
    }

    .doughnut {
        grid-column: 2 / span 1;
    }

    .social-boxes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }
    .doughnut, .daily {
        border: solid 1px #C6C7C6;
    }

    .daily {
        border-left: none;
        border-right: none;
        padding-right: 10px;
    }

    .doughnut {
        padding-left: 10px;
        border-right: none;
    }

    .social-container {
        width: 30vw;
        padding-right: 7px;
    }

    .members-container {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .members-text, .recent-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 5px;
    }

    .date {
        margin-left: auto;
    }

    .link-recent {
        display: flex;
        margin-left: auto;
        font-size: 1.5rem;
    }
    .widget-container-half, .mobile-chart{
        margin: 0 0 15px 0;
        padding: 20px 5px;
        width: 45vw;
    }
    .message { 
        border-top: none;
    }

}


@media (min-width: 1024px) {
    .traffic, .social-stats {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .doughnut, .recent, .settings {
        grid-column: 2 / span 1;
    }

    .members, .recent {
        border-bottom: none;
    }

    .message {
        padding-right: 10px;
        border-top: solid 1px #C6C7C6;
        border-bottom: none;
        border-right: solid 1px #C6C7C6;
    }

    .settings {
        border-top: solid 1px #C6C7C6;
        padding: 0 10px;
        border-bottom: none;
    }

    .settings-button {
        margin-top: 3px;
    }

    .members-container {
        padding: 0 10px 10px 10px;
    }

    .members {
        margin-top: 0;
        border-right: solid 1px #C6C7C6;;
    }

    .recent {
        margin-top: 0;
    }

    .recent h3 {
        padding-left: 5px;
    }
    .message, .settings {
        margin-top: 0;
    }
}